<div class="blue-wrapper">
    <div class="container">
        <div class="row">
            <a href="{{ items[0].content }}" class="section-link col-sm-4">
                <div class="yellow-divider-small"></div>
                <div class="clearfix">
                            <span class="pull-left">
                                {{ 'Clarity For' | t }}<br/>
                                <span class="section-link-text-large">{{ 'Brokers' | t }}</span>
                            </span>
                    <span class="section-link-text-large pull-right"><span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="yellow-divider-small"></div>
            </a>
            <a href="{{ items[1].content }}" class="section-link col-sm-4">
                <div class="yellow-divider-small"></div>
                <div class="clearfix">
                            <span class="pull-left">
                                {{ 'Clarity For' | t }}<br/>
                                <span class="section-link-text-large">{{ 'Employers' | t }}</span>
                            </span>
                    <span class="section-link-text-large pull-right"><span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="yellow-divider-small"></div>
            </a>
            <a href="{{ items[2].content }}" class="section-link last col-sm-4">
                <div class="yellow-divider-small"></div>
                <div class="clearfix">
                            <span class="pull-left">
                                {{ 'Clarity For' | t }}<br/>
                                <span class="section-link-text-large">{{ 'Employees' | t }}</span>
                            </span>
                    <span class="section-link-text-large pull-right"><span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="yellow-divider-small"></div>
            </a>
        </div>
    </div>
</div>